<mat-grid-list cols="1" rows="1" rowHeight="2:1">
    <mat-grid-tile>
<mat-card class="example-card">
    <mat-card-title style="font-size: 30px;">Login</mat-card-title>
    <mat-card-content>
<p><input class="username" placeholder="Username"></p>
<p><input class="password" placeholder="Password"></p>
<div style="width: 100%;text-align:center;">
    <button mat-raised-button color="primary"><a href="/nav/home" style="text-decoration: none;color:white;">SUBMIT</a></button>
</div>
    </mat-card-content>
</mat-card>
</mat-grid-tile>
</mat-grid-list>